* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #11053b; 
    padding: 10px;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center; 
  }
  .logo {
    height: 50px; 
    margin-right: 20px; 
  }
  nav ul {
    display: flex;
    list-style: none; 
    margin: 0;
    padding: 0;
    list-style: none; 
    
   
  }
  nav li {
    display: inline; 
    margin-right: 20px; 
    justify-content: center;
    align-items: center;
    
  }
  nav a {
    text-decoration: none;
    color: #eef5eb;
    font-weight: bold;
  }
  nav a:hover {
    color: black;
    background-color: white;
  }
 
